[submodule "lib/awesomelibrary"]
	path = lib/awesomelibrary
	url = https://bitbucket.org/jaredw/awesomelibrary
	branch = version1
[submodule "lib/submodule-library"]
	path = lib/submodule-library
	url = https://github.com/rupe120/submodule-library
	branch = main